@font-face {
  font-family: IRANSansX-Medium;

  src: url(./font/sans/IRANSansX-Medium.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;

  src: url(./font/number/IRANSansXFaNum-Regular.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-Black;

  src: url(./font/sans/IRANSansX-Black.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-Bold;

  src: url(./font/sans/IRANSansX-Bold.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-DemiBold;

  src: url(./font/sans/IRANSansX-DemiBold.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-ExtraBold;

  src: url(./font/sans/IRANSansX-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-Light;

  src: url(./font/sans/IRANSansX-Light.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-Regular;

  src: url(./font/sans/IRANSansX-Regular.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-Thin;

  src: url(./font/sans/IRANSansX-Thin.woff2) format("woff2");
}

@font-face {
  font-family: IRANSansX-UltraLight;

  src: url(./font/sans/IRANSansX-UltraLight.woff2) format("woff2");
}

/*
! tailwindcss v3.4.7 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*start product style */

.products {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 431px) {
  .products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .products {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .products {
    margin-left: 5rem;
    margin-right: 5rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .products {
    margin-left: 10rem;
    margin-right: 10rem;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

.productLink {
  margin: auto;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-delay: 150ms;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.productLink:hover {
  --tw-translate-y: -0.25rem;
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
  transition-duration: 300ms;
}

.productImage {
  border-radius: 9999px;
  border-width: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.productImage:hover {
  --tw-border-opacity: 1;
  border-color: rgb(244 114 182 / var(--tw-border-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.productName {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*end product style */

/*start brand style */

.brandContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandImage {
  overflow: hidden;
  border-radius: 9999px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.375rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.brandImage:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.brands {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 640px) {
  .brands {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .brands {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .brands {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.brandName {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandLink {
  max-width: 20rem;
  overflow: hidden;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.brandLink:hover {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  transition-duration: 700ms;
}

.brandImageContainer {
  overflow: hidden;
  border-radius: 9999px;
}

.brandImageContainer:hover {
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(219 39 119 / var(--tw-border-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #db2777;
  --tw-shadow: var(--tw-shadow-colored);
  transition-duration: 500ms;
}

/*end brand style */

/*start underHeader style */

.underHeaderContainer {
  display: flex;
  height: 2.75rem;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #6366f1 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(99 102 241 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(168 85 247 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #a855f7 var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #ec4899 var(--tw-gradient-to-position);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(252 231 243 / var(--tw-text-opacity));
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 1024px) {
  .underHeaderContainer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.underHeaderDataName {
  cursor: pointer;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/*end underHeader style */

/*start dropDown style */

.dropDown {
  position: fixed;
  z-index: 10;
  display: flex;
  height: auto;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(255 255 255 / 0.3);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  --tw-backdrop-blur: blur(64px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

@media (min-width: 640px) {
  .dropDown {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .dropDown {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .dropDown {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.mainItems {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  border-right-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(244 114 182 / var(--tw-border-opacity));
  padding-right: 0.5rem;
  font-family: IRANSansX-Light;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.mainItems:hover {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-duration: 200ms;
}

.tableTd {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tableTd:hover {
  --tw-translate-x: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
  transition-duration: 200ms;
}

/*end dropDown style */

/* start slider style */

/* end slider style */

/* start carts style */

.cartsContainer {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.cartItems {
  display: flex;
  height: 100%;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.cartItems:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(253 242 248 / var(--tw-bg-opacity));
  transition-delay: 200ms;
  transition-duration: 700ms;
}

.addToBasket {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(219 39 119 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.addToBasket:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-delay: 150ms;
  transition-duration: 300ms;
}

.cartDiscription {
  margin-top: 0.75rem;
  height: 5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.cartPriceTag {
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

@media (min-width: 431px) {
  .cartPriceTag {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.cartsHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  font-family: IRANSansX-Regular;
}

@media (min-width: 431px) {
  .cartsHeaderContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.cartsHeaderButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

@media (min-width: 1024px) {
  .cartsHeaderButtons {
    width: 66.666667%;
  }
}

@media (min-width: 1280px) {
  .cartsHeaderButtons {
    width: 33.333333%;
  }
}

.cartsHeaderBtn {
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  text-underline-offset: 8px;
}

@media (min-width: 431px) {
  .cartsHeaderBtn {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* end carts style */

/* start login style */

.loginContainer {
  width: 75%;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(229 231 235 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #e5e7eb var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #f3f4f6 var(--tw-gradient-to-position);
  padding: 1.75rem;
  text-align: center;
}

@media (min-width: 640px) {
  .loginContainer {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .loginContainer {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .loginContainer {
    width: 33.333333%;
  }
}

/* end login style */

/* start shoppingBasket style */

.shoppingBasket {
  width: 75%;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(229 231 235 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #e5e7eb var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #f3f4f6 var(--tw-gradient-to-position);
  padding: 1.75rem;
  text-align: center;
}

@media (min-width: 640px) {
  .shoppingBasket {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .shoppingBasket {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .shoppingBasket {
    width: 33.333333%;
  }
}

.productCountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}

.emptyBasket {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.finalDetails {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.25rem;
}

.finalDetailsPrice {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

.CheckOut {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(219 39 119 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

.CheckOut:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-delay: 150ms;
  transition-duration: 300ms;
}

.listCartBasket {
  display: flex;
  height: 24rem;
  flex-direction: column;
  gap: 1.25rem;
  overflow: auto;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(229 231 235 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #e5e7eb var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #f3f4f6 var(--tw-gradient-to-position);
}

.item {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.25rem;
}

.BasketItem {
  display: flex;
}

.BasketItemDiscription {
  width: 20rem;
  padding: 0.5rem;
  font-family: IRANSansXFaNum;
}

.discription {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.quantityContainer {
  display: flex;
  height: 2.5rem;
  justify-content: flex-end;
}

.quantity {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.price {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.75rem;
  text-align: center;
}

.plus {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.minus {
  cursor: pointer;
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

/* end shoppingBasket style */

.titleContainer {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.title {
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.mobileNumber {
  margin-bottom: 0.75rem;
  height: 2.5rem;
  padding-right: 1.25rem;
}

.mobileNumber::-moz-placeholder {
  opacity: 0.25;
}

.mobileNumber::placeholder {
  opacity: 0.25;
}

.underTitleContainer {
  padding-bottom: 0.75rem;
}

.getCode {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(219 39 119 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-family: IRANSansX-Bold;
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

.getCode:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-delay: 150ms;
  transition-duration: 300ms;
}

.signup {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-family: IRANSansX-Bold;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.signup:hover {
  transition-delay: 150ms;
  transition-duration: 300ms;
}

.BDcontainer {
  padding: 2.5rem;
  font-family: IRANSansX-Regular;
}

.brandDiscriptionContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

@media (min-width: 431px) {
  .brandDiscriptionContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .brandDiscriptionContainer {
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .brandDiscriptionContainer {
    gap: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .brandDiscriptionContainer {
    gap: 2rem;
  }
}

.brandDiscriptionLink {
  padding: 1rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.brandDiscriptionLink:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(253 242 248 / var(--tw-bg-opacity));
  transition-delay: 150ms;
  transition-duration: 300ms;
}

.brandDiscriptionName {
  padding-top: 1rem;
  font-family: IRANSansX-DemiBold;
}

.brandDiscription {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 640px) {
  .brandDiscription {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .brandDiscription {
    padding-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .brandDiscription {
    padding-bottom: 0.5rem;
  }
}

/* .brandDiscriptionBtnContainer{
  @apply flex justify-center items-center
 } */

.brandDiscriptionBtn {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.group:hover .brandDiscriptionBtn {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-delay: 150ms;
  transition-duration: 300ms;
}

.adv {
  display: none;
  cursor: pointer;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (min-width: 640px) {
  .adv {
    display: block;
  }
}

.footerContainer {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.footerAdv {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 640px) {
  .footerAdv {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.FooterAdvLink {
  align-items: center;
  justify-content: center;
}

.FooterAdvName {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .FooterAdvName {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

.FooterAdvDiscription {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .FooterAdvDiscription {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

.footerDetailsContainer {
  flex: none;
  gap: 7rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 431px) {
  .footerDetailsContainer {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .footerDetailsContainer {
    display: flex;
  }
}

.footerDetails {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media (min-width: 431px) {
  .footerDetails {
    padding-left: 0px;
  }
}

@media (min-width: 1024px) {
  .footerDetails {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .footerDetails {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footerDetailsMainItems {
  display: flex;
  justify-content: flex-start;
  border-right-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(219 39 119 / var(--tw-border-opacity));
  padding-right: 0.25rem;
  font-family: IRANSansX-Light;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footerDetailsTableTd {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footerDetailsTableTd:hover {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

.socialMedia div {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.emailContainer div {
  padding-bottom: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ContactContainer {
  gap: 5rem;
}

@media (min-width: 431px) {
  .ContactContainer {
    display: flex;
  }
}

.email {
  display: flex;
  justify-content: flex-end;
}

.email input {
  position: relative;
  height: 3rem;
  width: 16rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  padding-right: 0.75rem;
}

.email span {
  position: absolute;
  display: flex;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
}

.email span:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity));
}

.info div {
  font-family: IRANSansXFaNum;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.contactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.contactUs span {
  display: flex;
  height: 2.25rem;
  width: 2.25rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

@media (min-width: 431px) {
  .contactUs span {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.contactUsContainer {
  margin: 2.5rem;
}

@media (min-width: 1280px) {
  .contactUsContainer {
    margin: 0px;
  }
}

.BtnBuy {
  position: absolute;
  right: 9rem;
  bottom: 5rem;
  z-index: 0;
  display: none;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 431px) {
  .BtnBuy {
    display: block;
  }
}

.sliderHeader {
  position: absolute;
  top: 4rem;
  z-index: 0;
  display: none;
  padding-right: 10rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

@media (min-width: 431px) {
  .sliderHeader {
    display: block;
  }
}

@media (min-width: 640px) {
  .sliderHeader {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1024px) {
  .sliderHeader {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .sliderHeader {
    font-size: 3rem;
    line-height: 1;
  }
}

.foot {
  padding: 4rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.goUp {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity));
}

.goUp:hover {
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
}

.support {
  cursor: pointer;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.support:hover {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
}

.dots {
  display: none;
}

@media (min-width: 431px) {
  .dots {
    display: block;
  }
}

.buttons button {
  display: none;
}

@media (min-width: 431px) {
  .buttons button {
    display: block;
  }
}

.fixed {
  position: fixed !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.left-24 {
  left: 6rem !important;
}

.top-0 {
  top: 0px !important;
}

.top-6 {
  top: 1.5rem !important;
}

.top-\[89px\] {
  top: 89px !important;
}

.z-10 {
  z-index: 10 !important;
}

.z-20 {
  z-index: 20 !important;
}

.z-50 {
  z-index: 50 !important;
}

.m-3 {
  margin: 0.75rem !important;
}

.mx-3\.5 {
  margin-left: 0.875rem !important;
  margin-right: 0.875rem !important;
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.flex {
  display: flex !important;
}

.table {
  display: table !important;
}

.hidden {
  display: none !important;
}

.size-4 {
  width: 1rem !important;
  height: 1rem !important;
}

.size-5 {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.size-6 {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.size-8 {
  width: 2rem !important;
  height: 2rem !important;
}

.h-10 {
  height: 2.5rem !important;
}

.h-4 {
  height: 1rem !important;
}

.h-5 {
  height: 1.25rem !important;
}

.h-6 {
  height: 1.5rem !important;
}

.w-1\/2 {
  width: 50% !important;
}

.w-32 {
  width: 8rem !important;
}

.w-4 {
  width: 1rem !important;
}

.w-5 {
  width: 1.25rem !important;
}

.w-6 {
  width: 1.5rem !important;
}

.w-7 {
  width: 1.75rem !important;
}

.w-80 {
  width: 20rem !important;
}

.w-full {
  width: 100% !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.items-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.rounded-full {
  border-radius: 9999px !important;
}

.rounded-md {
  border-radius: 0.375rem !important;
}

.border-r-2 {
  border-right-width: 2px !important;
}

.bg-gray-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}

.bg-pink-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity)) !important;
}

.bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.font-irannumber {
  font-family: IRANSansXFaNum !important;
}

.font-iransans {
  font-family: IRANSansX-Medium !important;
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}

.text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(107 114 128 / var(--tw-text-opacity)) !important;
}

.text-gray-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / var(--tw-text-opacity)) !important;
}

.text-pink-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(244 114 182 / var(--tw-text-opacity)) !important;
}

.text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.underHeader{
  transition:0.50s;
}

.hide{
  transform:translateY(-100%);
}

.goUp{
  position:fixed;
  left:35px;
  bottom:16px;
  z-index:1;
  transition:all .4s;
  opacity:0;
  cursor:pointer;
}

.goUp.active{
  bottom:32px;
  opacity:1;
}

.support{
  position:fixed;
  left:32px;
  bottom:100px;
  z-index:1;
  transition:all .4s;
  cursor:pointer;
}

/* css styles */

body {
  padding-top: 133px;
  background-color:#fff7f9;
}

/* swiper styles */

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 15px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  height: 50px;
  width: 50px;
  background-color: #bdbebf;
  border-radius: 20%;
}

.btn::before,
.btn::after {
  font-size: 20px;
  color: #fff;
}

/* swiper styles */

/* slider styles */

.slider {
  height: 360px;
  margin: auto;
  position: relative;
}

.sliderImage {
  height: 360px;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  transition: 1s;
  overflow: hidden;
}

.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 40px;
  height: 35px;
  border-radius: 20%;
  opacity: 0.5;
  border: none;
  curser: pointer;
}

.buttons button:hover {
  background-color: gray;
  color: #fff;
}

.dots {
  position: absolute;
  bottom: 10px;
  right: 9%;
  transform: translateX(-0%);
}

.dots li {
  width: 15px;
  height: 15px;
  margin: 0px 4px;
  border: 1px solid gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  curser: pointer;
}

.dots li.active {
  background-color: gray;
}

@media (max-width: 1280px) {
  .slider {
    height: 300px;
  }

  .sliderImage {
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .slider {
    height: 250px;
  }

  .sliderImage {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 200px;
  }

  .sliderImage {
    height: 200px;
  }
}

@media (max-width: 640px) {
  .slider {
    height: 100px;
  }

  .sliderImage {
    height: 100px;
  }
}

/* slider styles */

/* searchBox styles */

.searchBoxMobile {
  display: flex;
  justify-content: center;
  align-item: center;
  position: fixed;
  width: 100%;
  height: 105px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  transform: translateY(-100%);
  z-index: 40;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: auto;
  padding: 10px;
}

.searchBoxInput {
  padding-right: 10px;
}

.searchBoxMobile.open {
  transform: translateY(0);
}

/* searchBox styles */

/* hamberList style */

.list > .option {
  transform-orgin: top;
  transform: scale(0) translateY(-65px);
  margin-bottom: -40px;
  opacity: 0;
}

#select-btn.active #dropIcon {
  transform: rotate(180deg);
}

#select-btn #dropIcon {
  transition: 1s;
}

.hamberMobile {
  display: flex;
  justify-content: start;
  align-item: start;
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  transform: translateX(100%);
  z-index: 40;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: auto;
  padding: 10px;
}

.hamberMobile.open {
  transform: translateX(0);
}

/* hamberList style */

/* shoppingBasket style */

.shoppingBasket {
  position: fixed;
  left: 50px;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  z-index:40;
  background-color: #fff;
}

.shoppingBasket.open {
  transform: translateY(0);
}

/* .active {
  background-color: pink;
} */

/* login style */

.loginContainer {
  position: fixed;
  left: 50px;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 40;
  background-color: #fff;
}

.loginContainer.open {
  transform: translateY(0);
}

/* login style */

.fa-heart {
  color: #db2777;
}

.fav {
  opacity: 0;
  position: absolute;
  top: 12px;
  right: 10px;
}

.cartItems:hover .fav {
  opacity: 1;
}

.footerHeaderContainer {
  height: 100px;
  position: relative;
  display: grid;
  margin: auto;
  background-color: #111827;
  place-items: center;
  overflow: hidden;
}

.footerHeaderList {
  display: flex;
  width: calc(200px * 12);
  animation: autoRun 20s linear infinite;
}

.imageContainer {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  padding-left:30px;
}

.imageContainer img {
  width: 100%;
}

@keyframes autoRun {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(200px * 6));
  }
}

.footerHeaderList:hover {
  animation-play-state: paused ;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 30;
}

.underHeaderDataLink{
  transition:all 0.4s;
}

.activeNav{
  transition:all 0.4s;
  border-bottom:solid 1px #ffffff;
  color:#ffffff;
  filter: drop-shadow(0 0 0.95rem white);
}

.placeholder\:text-gray-400::-moz-placeholder {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}

.placeholder\:text-gray-400::placeholder {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}

.hover\:cursor-pointer:hover {
  cursor: pointer !important;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.active\:text-pink-400:active {
  --tw-text-opacity: 1 !important;
  color: rgb(244 114 182 / var(--tw-text-opacity)) !important;
}

@media (min-width: 431px) {
  .sm\:left-28 {
    left: 7rem !important;
  }

  .sm\:mx-8 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .sm\:size-6 {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .sm\:h-7 {
    height: 1.75rem !important;
  }

  .sm\:w-40 {
    width: 10rem !important;
  }

  .sm\:w-7 {
    width: 1.75rem !important;
  }

  .sm\:overflow-hidden {
    overflow: hidden !important;
  }
}

@media (min-width: 640px) {
  .md\:block {
    display: block !important;
  }

  .md\:hidden {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:text-gray-200 {
    --tw-text-opacity: 1 !important;
    color: rgb(229 231 235 / var(--tw-text-opacity)) !important;
  }
}
